In [3]:
print ("Mubashir Harami")

Mubashir Harami

In [5]:
print ("Mubashir Saraiki")

Mubashir Saraiki

In [4]:
print("Hello world")

Hello world

In [5]:
print("Cloud Data Engineer")

Cloud Data Engineer

#### Shortcut keys for jupyter Notebook
- this is about last class
- Shift + Enter ==> Next cell + execute
- Esc + A ==> create cell above
- Esc + B ==> Create cell below
- Esc + M ==> convert into Mark Down
- "#" is used for ==> Heading in Markdown menu
- Esc + DD ==> delete the current cell

##### Ctrl + Shift + H ==> get all the shortcut command of jupyter

print("Esc + R convert cell to RAW - Plain text and Esc + Y will convert cell back to code")

In [2]:
print("Esc + R convert cell to RAW - Plain text and Esc + Y will convert cell back to code")

Esc + R convert cell to RAW - Plain text and Esc + Y will convert cell back to code

In [3]:
print("This is my VS code python")

This is my VS code python

In [4]:
print("This is raw")

This is raw

### VARIABLES
-

In [18]:
name = "Muhammad Usama" # declared a first variable in string
age = 20 #integer type variable declared
weight = 60.5 #floating variable declared
is_present = True #Boolean type

In [20]:
print(name)
print(type(name))
print("---------------")
print(age)
print(type(age))
print("---------------")
print(weight)
print(type(weight))
print("--------------")
print(is_present)
type(is_present)

Muhammad Usama
<class 'str'>
---------------
20
<class 'int'>
---------------
60.5
<class 'float'>
--------------
True

bool

In [21]:
age -4

16

In [22]:
age +=12

In [23]:
age

32

In [24]:
value_subtract = 10

In [25]:
age

32

In [26]:
age -= value_subtract

In [27]:
age

22

In [28]:
19 + "1"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
19 + int("1") #typecasting

20

## Math Expressions

In [31]:
3+5

8

In [32]:
5-8

-3

In [33]:
9*7

63

In [34]:
54/2 #in division you will always answer in float

27.0

In [35]:
int(54/2)

27

In [36]:
9%3

0

In [38]:
9/5 #remainder operator

1.8

In [39]:
2**3

8

### Math Expressions: Eliminating Ambiguity (PEMDAS)

In [40]:
1 + 3 * 4 -9

4

### Concatination Text Strings

In [41]:
first_name = "Muhammad"

In [42]:
last_name = "Usama"

In [43]:
first_name + last_name

'MuhammadUsama'

In [46]:
first_name + " " + last_name #Method 1

'Muhammad Usama'

In [47]:
f'{first_name} {last_name}' #Method 2

'Muhammad Usama'

In [48]:
'{0} {1}'.format(first_name, last_name)

'Muhammad Usama'

In [4]:
age = int(input("enter your age: "))
gender = input("what is your gender (M/F): ")
#marital_status = input("enter your marital status (Y/N): ")

if gender == "F":
 print ("Will work only in Urban areas")
elif (gender == "M") and (age>= 20 and age <40):
 print("can work anywhere")
elif (gender == "M") and (age>= 40 and age <60):
 print("can work only in urban areas")
else:
 print("ERROR")

enter your age:  45
what is your gender (M/F):  M

can work only in urban areas